<html>
    <head></head>
    <body>
        <a href="/">Back</a>
        <h1>Log in</h1>
          <form action="/login" method="POST">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username"><br><br>

            <label for="passkey">Password</label><br>
            <input type="text" id="passkey" name="passkey"><br><br>

            <input type="submit" name="Submit"><br>
          </form>
          <%if @error%>
            <p><%=@error%></p>
          <%end%>
    </body>
</html>