<html>
    <head></head>
    <body>
        <h1>Create new post</h1>
        <form action="/posts" method="POST">
            <input type="text" name="title">
            <input type="text" name="content">
            <input type="text" name="artist_id">
            <input type="submit" name="Submit post">
        </form>
    </body>
</html>